@import './abstract/variables';
@import './abstract/extend';
@import './abstract/mapa';
@import './abstract/mixins';

@import './componentes/header';
@import './componentes/contacto';
@import './componentes/cards';
@import './componentes/tienda';
@import './componentes/footer';

body{
    font-family: $font-main;
    text-decoration-color: $color-texts;
}

a:link{
    text-decoration: none;
    color: black;
}


h2{
    @extend %titulo-principal;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

}

@media(max-width: 576px){
    h2{
        font-size: 25px;
    }
}

/* TOGGLER */

.toogler-mio-icono{
    background-image: url('../imagenes/favicon.png') ;
}

.toogler-mio{
    border-radius: 0%;
}

/* NAV BAR */

.navegacion{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    @extend %titulo-principal;
}

@media(max-width: 576px){
    .navegacion{
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
}


