.div-contacto{
    margin: 3em;
    padding: 3em;
    background-color: #F2EDFC;
    border: 3px solid $color-fondos;
    justify-content: space-around;
    ul{
        text-align: center;
        font-size: 30px;
        margin: auto;
        list-style: none;
        li{
            padding: 5px;
            margin-left: 3px;
        }
    }

    }

    .iconos-contacto{
        display: block;
        margin: 20px;
    }

    @media(max-width: 576px){
        .div-contacto ul li{
            font-size: 18px;
        }
    }