.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: caja1 caja2 caja3;
    background-color: $color-fondos2;
}

.footer-caja1{
    grid-area: caja1;
}

.footer-caja2{
    grid-area: caja2;
}

.footer-caja3{
    grid-area: caja3;
}



.footer-cajaredes{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}