.footer{
    background-color: $color-fondos2;
}

.footer-grid{
    display: grid;
    background-color: $color-fondos2;
    grid-template-columns: 30% 30% 30%;
    font-size: 20px;
    ul{
        list-style: none;
    }
}

.footer-cajaredes{
    display: grid;
    background-color: $color-fondos2;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 50px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    background-color: $color-fondos2;
}

.iconos-metodos-pago{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-bottom: 10px;
    background-color: $color-fondos2;
}

h5{
    background-color: $color-fondos2;
    text-align: center;
    font-size: 12px;

}


