header{
    background-image: url(/imagenes/fondoheader1.png);
    padding-bottom: 90px;
    h2{
        font-size: 30px;
    }
}

@media(max-width: 576px){
    header{
        display: none;
        h2{
            font-size: 15px;
        }
    }
}

h1{
    @extend %titulo-principal;
    font-size: 200px;
}





.iconosheader{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 5px;
    padding: 8px;
    column-gap: 8px;
}