.titulo-per{
    font-size: 30px;
    margin-left: 10px;
}

/* COLOR */

.btn-colores{
    display: flex;
    column-gap: 20px;
    margin: 10px;
    padding: 10px;
}


.color1{
    background-color: #e1d4cc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.color2{
    background-color: #59a1be;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.color3{
    background-color: #b0795a;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: lightgray;
}
.color4{
    background-color: #e1977e;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* TIPO DE LÁMPARA */

.btn-tipo{
    display: flex;
    column-gap: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.tipo1{
    background-color: $color-fondos2;
}

/* MEDIDAS */

.btn-medidas{
    display: flex;
    column-gap: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

/* TIPO DE MATERIAL */

.btn-material{
    display: flex;
    column-gap: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}