.grid-tienda{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

@media(max-width: 576px){
    .grid-tienda{
        grid-template-columns: 1fr;
    }
}
    